/*-- scss:defaults --*/
// Base document colors
// $body-bg: #f3f3f3;
// $body-color: #212121ff;
$link-color: #b5171d;
$navbar-bg: #27466bff;
// $h2-font-size: 20px;


/*-- scss:rules --*/



h1 {
  color: #27466bff;
}

h2 {
  color: rgb(43, 80, 122);
}

h3 {
  color: rgb(43, 80, 122);
}